<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/cadastroUsuario.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="/assets/plugins/node_modules/sweetalert2/dist/sweetalert2.js"></script>
  <script src="/assets/scripts/cadastroNovoUsuarioAdm.js.js"></script>


  <title>Cadastro</title>
</head>

<body>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <div class="conteiner-fluid text-center">
        <div class="row d-flex justify-content-center"> <!-- Adicionado justify-content-center -->
          <div class="col">
            <h5 class="titleMenus">Cadastrar<h5>
            <ul>
              <li><a href="./cadastroUsuario">Cliente</a></li>
              <li><a href="./cadastroPedido">Pedidos</a></li>
            </ul>
          </div>

          <div class="col">
            <h5 class="titleMenus">Movimentação
            </h5>
            <ul>
              <li><a href="/emitidos">Pedidos Emitidos</a></li>
              <li><a href="./manutencaoPedido">Manutenção Pedidos</a></li>
              <li><a href="./manutencaoCliente">Manutenção Cliente</a></li>
            </ul>
          </div>

          <div class="col">
            <h3>Ajuda</h3>
            <ul>
              <li><a href="./sobrenos">Sobre nós</a></li>
              <li><a href="https://wa.link/jf45be">Whatsapp</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <img src="../assets/images/ImgLogoHome.png" class="logoHome">
  <section class="section" style="background-color: #fff;">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 card border-0">
          <div class="card-body cardCadastro">

            <h1 class="card-title text-center titleCadastro"> <img src="../assets/images/imgCadastroUsuario.png"
                class="imgUsuario" alt="">cadastro usuario</h1>

            <form id="registroForm" method="POST">
              <div class="row">
                <div class="col-md-3">
                  <label for="nomeCadastroCliente">Nome</label>
                </div>
                <div class="col-md-9">
                  <input type="text" id="nomeCadastroCliente" class=" inputsCadCliente">
                </div>
              </div>
              <div class="row camposCad">
                <div class="col-md-3">
                  <label for="telefoneCadastroCliente">Telefone</label>
                </div>
                <div class="col-md-9">
                  <input type="number" id="telefoneCadastroCliente" class=" inputsCadCliente">
                </div>
              </div>
              <div class="row camposCad">
                <div class="col-md-3">
                  <label for="enderecoCadastroCliente">Endereço</label>
                </div>
                <div class="col-md-9">
                  <input type="text" id="enderecoCadastroCliente" class=" inputsCadCliente">
                </div>
              </div>
              <div class="row camposCad">
                <div class="col-md-3">
                  <label for="medidasCadastroCliente">Medidas</label>
                </div>
                <div class="col-md-9">
                  <input type="text" id="medidasCadastroCliente" class=" inputsCadCliente">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-dark btnCliente" id="btn-cadastro">Cliente</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <img src="../assets/images/imgCadastroUsuarioDois.png" class="imgCadDois" alt="" srcset="">
  </section>
  <script src="/assets/scripts/global.js"></script>
</body>

</html>