<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/assets/css/all.css">
  <script src="ProjetoWeb\public\assets\plugins\node_modules\bootstrap\dist\js\bootstrap.js"></script>
  <title>Bem vindo</title>
</head>
<body>
  <section class="h-100 gradient-form" style="background-color: #fff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 card border-0">
        <div class="card-body cardCadastro">
          <h2 class="card-title text-center">Criar nova conta :)</h2>
          <p class="text-center"><a href="login.html" class="link-dark linkLogin">Ou faça o Login aqui</a></p>  

          <div class="row d-flex flex-column align-items-center">
            <div class="col-3 inputsCadastro">
              <label for="nomeCadastro">Nome</label>
              <input type="text" placeholder="Digite seu nome">
            </div>
            <div class="col-3 inputsCadastro">
              <label for="emailCadastro">Email</label>
              <input type="email" placeholder="Digite seu email">
            </div>
            <div class="col-3 inputsCadastro">
              <label for="SenhaCadastro">Senha</label>
              <input type="password" placeholder="Digite sua senha">
            </div>
            <div class="col-3 inputsCadastro">
              <label for="DataNascimento">Data de nascimento</label>
              <input type="date" name="DataNascimento" id="DataNascimento">
            </div>

            <button type="button" class="btn btn-dark col-3 mt-4 " id="btn-cadastro">Registrar</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>